@mixin header-body {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin  section-title {
  font-weight: 700;
  text-transform: uppercase;
  color: $nav-Text-Color;
  line-height: 22px;
  margin: 13px 0;
}


@mixin instagram {
  margin: 42px 0;
  .section-title{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
   
    .hidden-title{
      display: inline-block;
      font-size: 13px;
    }
  
  }
}