$footTitleColor: #FEFEFE;
$black: #000;
$beige: #B9B9B9;
$grey: #F5F5F5;
$nav-Text-Color: #4E4E4E;
$comments-grey: #7C7C7C;
$background-on-hover: #E5E5E5;
$text-active: #00aa00;
$background-def: #fff;
$comments-add: #5C5C5C;
$insta-backgroun: #F7F7F7;