
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $black;
  padding: 65px 35px;
  color: $beige;
  grid-area: footer;
  position: relative;
}

.footer-desc {
  max-width: 680px;
  text-align: center;
}

#social {
  margin: 25px auto;
}

.title {
  font-size: 14px;
  color: $footTitleColor;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.contacts {
  text-align: center;
  line-height: 24px;
  font-weight: 400;
}
