@import "../mixins";
@media only screen and (min-width: 1200px) {


  .header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $background-def;
  }

  .header-body {
    @include header-body;
    margin: 25px 0;
    max-width: 1170px;
  }

  .header-menu {
    width: 80%;
    align-items: center;

  }

  .railway {
    height: 550px;
    background-image: url("../images/1200/railway.png");
    margin-bottom: 66px;
  }

  .recent-post{
    display: grid;
    grid-template-rows: 22px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 34px;
    grid-template-areas:
    "upCap upCap"
    "tea table"
    "umbrella flowers";
    margin-bottom: 100px;
  }

  .recent-post > div {
    display: flex;
    flex-direction: row;
  }

  .recent-post > div > img {
    margin-right: 21px;
  }

  .instagram {
    position: relative;
    @include instagram
  }

  .footer::before{
    content: "";
    position: absolute;
   top: -400px;
    left: 0;
    width: 100%;
    height: 130%;
    background-color: $insta-backgroun;
    z-index: -1;
  }

  .hidden-title{
    display: inline-block;
    font-size: 13px;
  }

}
