@media only screen and (min-width: 320px) and (max-width: 767px) {

  .header-body{
    flex-direction: column;
    justify-content: right;
    align-items: end;
  }

  .header-menu {
    position: absolute;
    top: 38px;
    right: -100%;
    width: 60%;
    flex-direction: column;
    justify-content: start;
    height: auto;
    background-color: $grey;
    padding: 3% 0;
    border-radius: 7px;
  }

  .header-menu.active {
    right: 0;
    transition: all .3s ease 0s;
  }

  .header-link{
    padding: 0 7%;
  }

  .header-link:hover{
    margin-left: 6%;
    transition: all .2s ease 0s;
  }

  li:hover {
    background-color: $background-on-hover;
    width: 100%;
  }

  a.header-link:active {
    font-weight: 700;
  }

  .wrapper {
    max-width: 320px;
    margin-top: 88px;
  }

  .header-burger {
    display: block;
    position: relative;
    width: 45px;
    height: 38px;
    background-color: $black;
    z-index: 3;
  }

  .header-burger span {
    position: absolute;
    z-index: 3;
    background-color: #fff;
    left: 13px;
    width: 17px;
    height: 2px;
    top: 17px;
    transition: all .3s ease 0s;
  }

  .header-burger:before,
  .header-burger:after {
    content: "";
    height: 2px;
    left: 13px;
    background-color: #fff;
    width: 17px;
    position: absolute;
    transition: all .3s ease 0s;
  }

  .header-burger:before {
    top: 11px;
  }
  .header-burger:after {
    bottom: 12px;
  }

  .header-burger.active span {
    transform: scale(0);
  }
  .header-burger.active:before {
    transform: rotate(45deg);
    top: 17px;
  }
  .header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 19px;
  }

  .railway {
    height: 150px;
    background-image: url("../images/768/railway.png");
    margin-bottom: 30px;
  }

  .footer-desc {
    font-size: 12px;
    line-height: 20px;
  }

  #footer-additional {
    display: none;
  }

  .recent-post {
    display: grid;
    grid-template-rows: 22px 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    grid-template-areas:
     "upCap"
     "tea"
     "umbrella"
     "table";
     margin-bottom: 40px;
  }

  .description {
    font-size: 14px;
  }

  .comments {
    font-size: 11px;
  }

  .comments-whole {
    display: none;
  }

  .flowers {
    display: none;
  }

  .section-title{
    font-size: 14px;
  }

  .inst-container  {
    justify-items: center;
    margin: 20px auto;
  }

}
