@import "../mixins";
@media only screen and (min-width: 768px) and (max-width: 1199px) {


  .header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $background-def;
  }

  .header-body {
    @include header-body;
    margin: 20px 0;
  }

  .header-menu {
    width: 80%;
    align-items: center;
  }
//----------------------------MAIN ----------------------------------------------
      .railway {
        height: 361px;
        background-image: url("../images/768/railway.png");
        margin-bottom: 56px;
      }

      .recent-post{
        display: grid;
        grid-template-rows: 22px 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr ;
        grid-gap: 34px;
        grid-template-areas:
          "upCap"
          "tea"
          "umbrella"
          "table"
          "flowers";
          margin-bottom: 80px;
      }

     .recent-post > div {
       display: flex;
       flex-direction: row;
  }

  .recent-post > div > img {
    margin-right: 21px;
  }

  .description {
    font-size: 16px;
  }

  .comments {
    font-size: 12px;
  }

  .instagram {
    @include instagram
  }

  .footer::before{
    content: "";
    position: absolute;
   top: -360px;
    left: 0;
    width: 100%;
    height: 130%;
    background-color: $insta-backgroun;
    z-index: -1;
  }

  }



