@import "components/variables";
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:ital@0;1&family=Ubuntu&display=swap');
@import "components/responsive/desktop";
@import "components/responsive/tablet";
@import "components/responsive/mobile";
@import "components/responsive/under-mobile";
@import "components/reset";
@import 'components/footer';
@import "components/mixins";



html, body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body.lock{
  overflow: hidden;
  background-color: $background-on-hover;
}

.page{
  overflow: hidden;
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin: 78px auto 0 auto;
  padding: 0 5px;
}

//--------------------  NAV Menu -----------------------------


.header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: -5px;
  z-index: 10;
}

.header-body {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  margin-top: 25px;
}

.header-menu{
  display: flex;
  list-style: none;
  color: $nav-Text-Color;
  font-size: 12px;
  line-height: 22px;
  justify-content: space-around;
  overflow: auto;
}

.header-link{
  color: $nav-Text-Color;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
}

.header-link:hover{
  color: $text-active;
}
//----------------------------- MAIN -------------------------------------------
.railway {
  grid-area: railway;
  width: 100%;
  background-size: cover;

}

.description {
  font-weight: 700;
  color: $nav-Text-Color;
  text-transform: capitalize;
  line-height: 30px;
  margin-top: 10px;
}

.comments {
  line-height: 20px;
  color: $comments-grey;
  margin-bottom: 7px;
}

.comments-whole {
  font-size: 14px;
  line-height: 26px;
  color: $comments-add;
  max-width: 400px;
}

.up-cap{
  grid-area: upCap;
}

.tea-cap{
  grid-area: tea;
}


.umbrella{
  grid-area: umbrella;
}

.table{
  grid-area: table;
}


.flowers{
  grid-area: flowers;
}

.bike{
  grid-area: bike;
}

//--------------------- MAIN ------------------------------

.section-title {
  @include section-title;
}

.hidden-title {
  display: none;
  text-decoration: none;
  color: inherit;
}

.inst-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;

}
//--------------------- footer ----------------------------------


